body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(_gifts/imagemdefundodacentraldosite.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
  
h1 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
  
p {
  color: #0099ff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
  
li {
  margin: 1rem;
  padding: 1rem;
  background-color: #212121;
  border-radius: 1rem;
}
  
a {
  color: #F7D9AA;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.search-box {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.search-box form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.search-box button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #F7D9AA;
  color: #212121;
  font-weight: bold;
}